body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#1E1E1E;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

.col{
  columns: 27rem 2;
  /*columns:300px; */
  width: calc(100% - 50px);
}

div.col{
  text-align: left;
  /* vertical-align: bottom; */
}

ul{
  margin:0;
  padding:0;
}

.pad{
  margin-top: 100px;
  align-content: center;
}

.padbt{
  margin-bottom: 100px;
  margin-top: 100px;
  align-content: center;
}


.dark{
  padding:15px;
  background:#35424a;
  color:#DEffff;
  margin-top:10px;
  margin-bottom:10px;
}

footer{
  padding:0px;
  margin-bottom:0px;
  color:#DEffff;
  background:#0c548b;
  position:fixed;
  left: 0px; bottom:0px; right:0px; 
}
footer a{
  color:#DEffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}
footer li{
  float:center;
  display:inline;
  padding: 0 20px 0 20px;
}


/* Header **/
header{
  background:#0c548b;
  color:#DEffff;
  padding-top:30px;
  min-height:70px;
}


header a{
  color:#DEffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

.parallax { 
  /* The image used */
  background-image: url("code.jpg");

  /* Set a specific height */


  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
    min-height: 100vh;
    max-height: 200vh;
    position: relative;
    transform-style: flat;
  
}




header li{
  float:left;
  display:inline;
  padding: 0 10px 0 10px;
}

header #branding{
  float:left;
}

header h1{
  padding: 0 10px 0 10px;
}

a {color:#0c548b; /*new colour*/}
a span {color:#ffffff; /*originalcolour*/}

.cc {
  object-fit: contain; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 400px;
  width: 300px;
}



header nav{
  float:right;
  margin-top:5px;
}

header li{
  display: inline;
  margin:10;
  padding:10;
  text-align: center;
}




header a:hover{
  color:#cccccc;
  font-weight:bold;
}

/* Showcase */
#showcase{
  min-height:400px;
  text-align:left;
  color:#DEffff;
  padding-bottom: 10;
}

#showcase h1{
  margin-top:30px;
  font-size:35px;
  margin-bottom:30px;
}

#showcase p{
  font-size:20px;
}







/* Boxes */
#boxes{
  margin-top:20px;
}

#boxes .box{
  font-size:20px;
  float:left;
  text-align: center;
  width:45%;
  padding:10px;
  color:#ffffff;
}



#boxes .box h3{
  color:#0000EE;
}

#box img{
  width: 400px,
}

#box video{
  width: 400px,
}



/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

/* Services */
ul#services li{
  list-style: none;
  padding:10px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

ul {
  list-style-type:none;
  margin:0;
  padding:0;
  text-align: center;
}

li {
  display: inline;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.center{
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  
}

.fa:hover {
    opacity: 0.7;
}
/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-instagram {
  background: #CF3E70;
  color: white;
}

.fa-mail-reply{
  background: #0c548b;
  color: white;
}


/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:20px;
  }

}
